.trendingText {
  font-size: 1.5rem;
  font-weight: bolder;
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  &:after {
    content: '';
    width: 0.43rem;
    height: 50%;
    background: #e41e26;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }
}
