.bannerContain {
  position: relative;

  .bannerImg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
  }
  .bannerInfo {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100vh;
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    .bannerCard {
      background-color: rgba(255, 255, 255, 0.074);
      border: 1px solid rgba(255, 255, 255, 0.222);
      backdrop-filter: blur(20px);
      border-radius: 0.7rem;
      transition: all ease 0.3s;
      padding: 1rem;

      &:hover {
        box-shadow: 0px 0px 20px 1px #ffbb763f;
        border: 1px solid rgba(255, 255, 255, 0.454);
      }
      .bannerTitle {
        font-size: 3em;
        font-weight: bolder;
      }
      .bannerTextTitle {
        color: red;
        font-weight: bolder;
      }
      .bannerOverview {
        font-size: 1rem;
        font-weight: lighter;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .bannerContain .bannerInfo {
    padding: 1em;
    width: 100%;
    .bannerCard {
      .bannerOverview {
        display: none;
      }
    }
  }
}
