// themes
@import '@splidejs/react-splide/css/skyblue';
.splide-custom {
  .splide__arrows {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    .splide__arrow {
      color: var(--primary-color);
      font-size: 2em;
      &.splide__arrow--prev {
        left: -2em;
      }
      &.splide__arrow--next {
        right: -2em;
      }
    }
  }
  &:hover {
    .splide__arrows {
      opacity: 1;
    }
  }
}
.splide__pagination__page {
  opacity: 0.7;
  background-color: #a3a3a3 !important;
  &.is-active {
    background-color: var(--primary-color) !important;
    box-shadow: 0 0 10px var(--primary-color);
  }
}
