@mixin Color-Schema {
  --primary-color: #e41e26;
  --dark-background-color: #181818;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-mute: #a3a3a3;
  --dark-glassmorphism: rgba(20, 20, 20, 0.5);
}
