.home-section__wrapper {
  .banner-card__wrap {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .banner_card_info__wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 2em;
      background-color: rgba(20, 20, 20, 0.2);
      backdrop-filter: blur(0.4em);
      display: flex;
      justify-content: center;
      align-items: center;
      .banner_card_poster {
        width: 20em;
      }
      .banner_card_info__content {
        width: 40%;
        .banner_card_info__imdb {
          color: var(--primary-color);
        }
        .banner_card_info__overview {
          color: var(--text-color-secondary);
        }
        .banner_card_info__watch_trailer {
          margin: 1em 0;
        }
        .banner_card_info__geners {
          display: flex;
          gap: 0.5em;
          margin: 0.5em 0;
          flex-wrap: wrap;
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .home-section__wrapper {
    .banner-card__wrap {
      .banner_card_info__wrapper {
        flex-direction: column-reverse;

        .banner_card_info__content {
          width: 100%;
        }
      }
    }
  }
}
