.imgContainer {
  position: relative;
  margin: 1rem;
  width: 100%;
  .blockDescription {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .descriptionBtn {
      font-size: 0;
      opacity: 0;
      transition: 0.5s ease;
    }
  }
  .title {
    margin-top: 0.5em;
    text-shadow: 1px 1px 10px #000;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    font-weight: 500;
    .dot {
      color: var(--primary-color);
    }
  }

  &:hover {
    img {
      opacity: 0.5;
      transition: 0.35s ease-in-out;
      transform: scale(1.02);
    }
    .descriptionBtn {
      opacity: 1;
      font-size: 1rem;
      width: 100%;
    }
  }
}
