@import '../../../styles/glassmorphism';

.appBarContainer {
  @include glassmorphism(var(--dark-glassmorphism));
  img {
    width: 2em;
    margin-right: 0.5em;
  }
  .owlMovie {
    font-weight: bolder;
    color: var(--primary-color);
  }
}
