.episodes-container {
  .title-container {
    position: relative;
    margin-bottom: 1.5rem;
    padding-left: 0.5rem;
    &:after {
      content: '';
      width: 0.43rem;
      height: 100%;
      background: var(--primary-color);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      border-radius: 20px;
    }
    .title-episodes {
      font-size: 2em;
    }
    .dot {
      font-size: 1.5em;
      margin: 0 0.3em;
      color: var(--primary-color);
    }
    .title-tv {
      font-size: 1.5em;
      color: var(--text-color-mute);
    }
  }

  .title-info {
    .title-realse {
      font-weight: bold;
    }
    .title-overview {
      color: var(--text-color-mute);
    }
  }
  .episodes-card-container {
    .episodes-image {
      border-radius: 1em;
      width: 100%;
    }
    .episodes-name {
      margin: 0;
      font-weight: bold;
    }
    .episodes-overview {
      font-size: 0.8em;
      color: var(--text-color-mute);
    }
  }
}
