.episodes-container {
  .title-container {
    display: flex;
    align-items: center;
    .dot {
      font-size: 1.5em;
      margin: 0 0.3em;
      color: var(--primary-color);
    }
    .title-tv {
      color: var(--text-color-secondary);
    }
  }
}

.title-info {
  .title-realse {
    font-weight: bold;
  }
  .title-overview {
    color: var(--text-color-secondary);
  }
}
.episodes-card-container {
  .episodes-image {
    border-radius: var(--border-radius);
    width: 100%;
  }
  .episodes-name {
    margin: 0;
    font-weight: bold;
  }
  .episodes-overview {
    font-size: 0.8em;
    color: var(--text-color-secondary);
  }
}
