.headerNav {
  background: rgba(20, 20, 20, 0.5) !important;
  backdrop-filter: blur(0.625em);
  position: fixed;
  left: 0em;
  right: 0em;
  text-align: center;
  z-index: 999;
  #navbarSticky {
    a {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: bold;
    }
  }
}
