.section-hero {
  .hero-image {
    .ImageTMDB_image {
      box-shadow: none !important;
    }

    img {
      box-shadow: none !important;
      width: 100%;
      border-radius: var(--border-radius);
    }
  }
  box-shadow: none;
  position: relative;

  border-radius: var(--border-radius);
  .hero-container {
    position: absolute;
    top: 0;
    border-radius: var(--border-radius);
    background: linear-gradient(
      90deg,
      #2d2d2d 10%,
      hsla(0, 0%, 18%, 0.95) 20%,
      hsla(0, 0%, 18%, 0.93) 25%,
      hsla(0, 0%, 18%, 0.91) 35%,
      hsla(0, 0%, 18%, 0.86) 40%,
      hsla(0, 0%, 18%, 0.83) 45%,
      hsla(0, 0%, 18%, 0.78) 50%,
      hsla(0, 0%, 18%, 0.74) 55%,
      hsla(0, 0%, 18%, 0.72) 60%,
      hsla(0, 0%, 18%, 0.65) 65%,
      hsla(0, 0%, 18%, 0.55) 70%,
      hsla(0, 0%, 18%, 0.45) 75%,
      hsla(0, 0%, 18%, 0.27) 80%,
      hsla(0, 0%, 18%, 0.15) 85%,
      hsla(0, 0%, 18%, 0.08) 90%,
      hsla(0, 0%, 18%, 0.03) 95%,
      hsla(0, 0%, 18%, 0)
    );
    display: grid;
    align-content: center;
    width: 50%;
    height: 100%;
    .info-container {
      padding: 2em;
      .title-info {
        font-weight: bolder;
        margin-bottom: 1em;
      }
      .title-info-metadata-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5em;
        color: var(--text-color-mute);
        margin-bottom: 1em;
        .item-season,
        .item-certification {
          white-space: nowrap;
        }

        .item-fact {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          gap: 0.4em;
        }
      }
      .title-info-synopsis-talent {
        width: 80%;
        .title-watch-trailer {
          margin: 1em 0;
        }
        .title-info-talent {
          margin-top: 2em;
          display: flex;
          gap: 1em;
          .created-by {
            align-items: center;
            width: fit-content;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .section-hero {
    .hero-container {
      position: relative;
      background: none;
      width: 100%;
      .info-container {
        .title-info {
        }
        .title-info-metadata-wrapper {
        }
        .title-info-synopsis-talent {
          width: 100%;
          .title-info-talent {
            .created-by {
            }
          }
        }
      }
    }
  }
}
